body {
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
a, a:hover {
    text-decoration: none;
    color: black;
}
.red {
    background-color: #ed1d24;
}
.nav-link, .nav-link:hover {
    color: white;
}
.footer {
    margin-top: auto;
}

.form-control {
    border-radius: 20rem;
}

/* Filter */

input[type=radio] {
    visibility: hidden;
}
input[type=radio] + label {
    border: 2px solid #ed1d24;
    border-radius: 20px;
    padding: 3px 20px 3px 20px;
    margin: 5px -5px;
    -webkit-transition-duration: .3s;
} 
input[type=radio]:checked + label {
    color: white;
    background-color: #ed1d24;
    -webkit-transition-duration: .3s;
} 

button {
    border: 2px solid #ed1d24;
    border-radius: 20px;
    padding: 3px 20px 3px 20px;
    margin: 5px -5px;
    color: white;
    background-color: #ed1d24;
}

.card {
    -webkit-transition-duration: .3s;
}
.card:hover {
    --bs-card-border-color: rgb(0 0 0 / 74%);
    -webkit-transition-duration: .3s;
}

/* Profile */

.profile-card {
    border-bottom-left-radius: var(--bs-card-inner-border-radius);
    border-bottom-right-radius: var(--bs-card-inner-border-radius);
}